<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vision</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">To be a leading Tax Administration that 
                            significantly contributes to the social and economic well-being of the people of Belize.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mission</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Through a highly skilled cadre of professionals, administer the relevant 
                            tax laws in an equitable and fair manner to promote the highest levels of voluntary 
                            compliance and achieve the maximum degree of public confidence in the Belize Tax Service (BTS).</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Core Values</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The core values resonate the image of the BTS and promote its new culture. 
                            Core values also outline the personal values that management and employees should display 
                            in their daily work ethics and interactions with all stakeholders.

                            Aligning these values into an easily memorable acronym aids stakeholders and BTS employees 
                            in effortlessly recalling and integrating them into their daily routines and business 
                            delivery activities. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>PRIDE</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Professionalism, Respect, Integrity, Driven, Excellence</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Together
                        <br />
                        We
                        <br />
                        Build!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>